{% extends 'base.html' %}

{% block content %}

<div class="title-info">
    <p>Dashboard</p>
    <i class="material-icons">dashboard</i>
</div>
<div class="data-info">
    {% if request.user.is_superuser %}

    <div class="box">
        <i class="material-icons">diversity_3</i>
        <div class="data">
            <p>user</p>

            <span>{{users}}</span>
        </div>

    </div>
    <div class="box">
        <i class="material-icons">group</i>

        <div class="data">
            <p>Employees</p>
            <span>{{employees}}</span>

        </div>
    </div>
    {% endif %}
    <div class="box">
        <i class="material-icons">table_view</i>
        <div class="data">
            <p>Tasks</p>
            <span>{{tasks}}</span>
        </div>
    </div>
    <div class="box">
        <i class="material-icons">check</i>
        <div class="data">
            <p>Completed tasks</p>
            <span>{{com_tasks}}</span>
        </div>
    </div>
</div>
<center>
    <div class="shortcuts">
        <div class="title-info">
            <p>ShortCuts</p>
            <i class="material-icons">content_cut</i>
        </div>
        <div class="shortcut" style="width: 100%;">
            {% if request.user.is_superuser %}

            <a href="{% url 'create_employee' %}" class="shortcut">Add Employee</a>
            {% endif %}

            <a href="{% url 'create_task' %}" class="shortcut">Create Task</a>
            <a href="{% url 'vacation' %}" class="shortcut">Vacation request</a>
        </div>
    </div>
</center>
{% if request.user.is_superuser %}
<table>
    <div class="title-info">
        <p>Users</p>
        <i class="material-icons">person</i>
    </div>
    <thead>
        <tr>
            <th>Name</th>
            <th>IS ADMIN?</th>
        </tr>
    </thead>
    <tbody>
        {% for i in usernames|slice:'4' %}
        <tr>
            {% if request.user == i %}
            <td>{{i.username}} <span class="count">(YOU)</span></td>
            {% else %}
            <td>{{i.username}}</td>
            <td></td>
            {% endif %}
            {% if i.is_superuser %}
            <td><i class="material-icons" style="color: #0481ff;">star</i></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><a href="{% url 'all_users' %}" class="btn">Show All</a></td>
        </tr>
    </tbody>
</table>
<div class="title-info">
    <p>Tasks</p>
    <i class="material-icons">table_view</i>
</div>
<div style="display: flex; justify-content: center;">

    <div class="chart" style=" width: 20%;"><canvas id="tasks_chart" width="500" height="100"
            data-titlechart="Tasks"></canvas></div>
</div>


{% endif %}


<script>

    var canvas = document.getElementById('tasks_chart');
    var ctx = document.getElementById('tasks_chart').getContext('2d');
    var data = {{ data_tasks| safe}};  // Pass data to JavaScript
    // Access the custom data attribute
    var titlechart = canvas.dataset.titlechart;
    console.log(titlechart); // Debugging: Check if the titlechart variable is correct

    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: data.labels,
            datasets: [{
                label: titlechart,
                data: data.data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}